*{
  /* use this to remove whole page margin/padding of left part gap */
  margin: 0;
  padding: 0;
  text-align: center;
} 

#h1{
  /* for heading Rock paper sissors  */
    background-color: #03162b;
    color: rgb(242, 127, 5);
    height: 5rem; /* this gives the box down exta height  */
    line-height: 5rem; /* this arrage the inside text of div incenter wrt length/height*/  
}

.choises-opitons{
  color: #030911;
  /* background-color: #eff8bcf7; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 4rem;
}

.choice{
  height:190px; 
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
 }

 .choice:hover{
  opacity: .7;
  /* cursor: pointer;*/
  background-color: #000103;
 }

img{
/* use only img not include # as it used for id and to check this see inspect element style*/
  height:150px;
  width:150px;
  object-fit: cover;
  border-radius: 50%;
}

.scoreboard{
  display: flex;
  align-items: center;
  justify-content: center;
}

.score{
  height:250px;
  width:250px;
  margin-top: 2rem ;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size:xx-large;
  gap: 5rem;
}

#user-score,
#comp-score{
  font-size: 5rem;
}

/* .msg-container{
  display:block;
} */

#msg{
  background-color: aqua;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 100;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
} 
